requests==2.23.0
protobuf==3.15.8
boto3==1.17.103
web3==5.20.0
asn1tools==0.158.0
eth-abi==2.1.1
eth-account==0.5.4
eth-hash==0.3.1
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
pandas==1.3.5
numpy==1.21.4
scipy==1.8.0aiohttp==3.7.4.post0
appdirs==1.4.4
appnope==0.1.2
argcomplete==1.12.3
arrow==1.1.0
asgiref==3.3.4
asn1crypto==1.4.0
asn1tools==0.158.0
astroid==2.4.2
asttokens==2.0.4
async-timeout==3.0.1
attrdict==2.0.1
attrs==21.2.0
autopep8==1.5.4
backcall==0.2.0
base58==2.1.0
binaryornot==0.4.4
bitarray==1.2.2
bitstruct==8.11.1
black==21.9b0
blake2b-py==0.1.4
boto3==1.17.103
botocore==1.20.112
cached-property==1.5.2
capstone==4.0.2
certifi==2021.5.30
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.6
click==8.0.1
coincurve==15.0.1
coloredlogs==15.0.1
configparser==5.0.2
cookiecutter==1.7.3
coverage==5.5
crytic-compile==0.2.1
cycler==0.10.0
cytoolz==0.11.0
dataclassy==0.10.4
decorator==5.0.7
dictionaries==0.0.2
diskcache==5.2.1
distlib==0.3.1
Django==3.2.4
dnslib==0.9.16
dnspython==1.16.0
docopt==0.6.2
dulwich==0.20.23
eip712==0.1.0
eth-abi==2.1.1
eth-account==0.5.4
eth-bloom==1.0.4
eth-brownie==1.16.4
eth-event==1.2.3
eth-hash==0.3.1
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-tester==0.1.0b32
eth-typing==2.2.2
eth-utils==1.10.0
ethereum==2.3.2
ethereum-input-decoder==0.2.2
execnet==1.9.0
filelock==3.0.12
Flask==1.1.2
forta-agent==0.0.9
future==0.18.2
gql==2.0.0
graphql-core==2.3.2
greenlet==1.1.0
hexbytes==0.2.2
humanfriendly==9.2
hypothesis==6.21.6
icdiff==1.9.1
idna==2.10
inflection==0.5.0
iniconfig==1.1.1
intervaltree==3.1.0
ipfshttpclient==0.7.0
ipykernel==5.5.4
ipython==7.23.1
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jinja2-time==0.2.0
jmespath==0.10.0
jsonc-parser==1.1.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
localstack==0.12.12
localstack-client==1.20
localstack-ext==0.12.10.2
lru-dict==1.1.7
manticore==0.3.6
MarkupSafe==1.1.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
mccabe==0.6.1
metalog==0.2.2
mock==4.0.3
multiaddr==0.0.9
multidict==5.1.0
mypy==0.812
mypy-extensions==0.4.3
mythril==0.22.24
mythx-models==1.9.1
netaddr==0.8.0
numpy==1.21.4
packaging==21.0
pandas==1.3.5
parsimonious==0.8.1
parso==0.8.2
pathspec==0.9.0
pbkdf2==1.3
pep8==1.7.1
persistent==4.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
pipx==0.16.4
platformdirs==2.3.0
pluggy==1.0.0
ply==3.11
plyvel==1.3.0
poyo==0.5.0
pprintpp==0.4.0
prettytable==2.1.0
promise==2.3
prompt-toolkit==3.0.20
protobuf==3.15.8
psutil==5.8.0
psycopg2-binary==2.8.6
ptyprocess==0.7.0
py==1.10.0
py-ecc==1.6.0
py-evm==0.3.0a13
py-flags==1.1.4
py-solc==3.2.0
py-solc-ast==1.2.9
py-solc-x==1.1.0
pyaes==1.6.1
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.10.1
pydantic==1.7.3
pyelftools==0.27
pyethash==0.1.27
pyevmasm==0.2.3
Pygments==2.10.0
pygments-lexer-solidity==0.7.0
PyJWT==1.7.1
pylint==2.6.0
pyparsing==2.4.7
pyrsistent==0.18.0
pysha3==1.0.2
pytest==6.2.5
pytest-forked==1.3.0
pytest-icdiff==0.5
pytest-xdist==1.34.0
python-dateutil==2.8.1
python-dotenv==0.16.0
python-slugify==5.0.2
pythx==1.6.1
pytz==2021.1
pywatchman==1.4.1
PyYAML==5.4.1
pyzmq==22.0.3
redis==3.5.3
regex==2021.8.28
repoze.lru==0.7
requests==2.23.0
rlp==1.2.0
Rx==1.6.1
s3transfer==0.4.2
scipy==1.8.0
scrypt==0.8.18
semantic-version==2.8.5
sha3==0.2.1
six==1.16.0
slither-analyzer==0.8.1
sortedcontainers==2.4.0
SQLAlchemy==1.4.15
sqlparse==0.4.1
tenacity==7.0.0
text-unidecode==1.3
toml==0.10.2
tomli==1.2.1
toolz==0.11.1
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
transaction==3.0.1
trie==1.4.0
typed-ast==1.4.3
typing-extensions==3.10.0.2
unicorn==1.0.2
urllib3==1.25.11
userpath==1.7.0
varint==1.0.2
virtualenv==20.4.7
vvm==0.1.0
vyper==0.2.16
wasm==1.2
wcwidth==0.2.5
web3==5.20.0
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.6.3
z3-solver==4.8.12.0
zope.interface==5.4.0
